/* GLOBAL */
*{
   border: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;}
   body{
      height: 100Vh;
      background-image: linear-gradient(#249688
      200px, #DDDBD2 200px, #D2DBDB 100%);
   }
   #app{
      height: calc(100vh - 40px);
      width: 80%;
      margin: 20px auto;
   }
   .data{
      float: right;
      color: #a0a7aa;
      font-size: 10px;
      position: absolute;
      top: 10px;
      right: 10px;
   }
   

/* MAIN */
main{
   width: 100%;
   height: 100%;
   min-width: 1060px;
}


/* MAIN-LEFT */
.main-left{
   float: left;
   width: 30%;
   height: 100%;
   background-color: rosybrown;
}
.main-top{
   padding: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: 
   #eae9ea;
   height: 80px;
}
/* Nome utente */
.personal-user{
   display: flex;
   justify-content: start;
   align-items: center;
}
.user-img{
   width: 55px;
   border-radius: 50%;
   cursor: pointer;
}
h5{
   font-weight: 900;
   margin-left: 15px;
   cursor: pointer;
}
.top-icons{
   display: flex;
   justify-content: end;
   align-items: center;
}
i{
   color: #b2b1b0;
   margin: 0 10px;
   cursor: pointer;
}
.contact-name{
   height: 100%;
   margin-left: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}
.contact-name h5, .contact-name p, .new-notifications-text p{
   margin: 0;
   cursor: pointer;
}
.contact-name p{
   margin: 5px 0;
   font-size: 12px;
   color: #788083;
}
/* Attivazione notifiche */
.new-notifications{
   height: 80px;
   background-color: 
   #8ddbfc;
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
}
.fa-bell-slash{
   color: #8ddbfc;
   font-size: 22px;
}
.circle-font{
   width: 55px;
   height: 55px;
   border-radius: 50%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 15px;
   cursor: pointer;
}
.new-notifications-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}
.new-notifications-text p:first-child{
   font-weight: 600;
   font-size: 14px;
}
.new-notifications-text p:nth-child(2){
   font-size: 13px;
   text-decoration: underline;
   color: #717779;
   cursor: pointer;
   margin-top: 5px;
}
/*** Box contatti ****/
.box-contacts{
   background-color: #f3f3f3 ;
   width: 100%;
   height: calc(100vh - 200px);
}
.search input{
   margin: 8px;
   height: 30px;
   width: calc(100% - 16px);
   border-radius: 3px;
   padding-left: 75px;
}
.search input:focus{
   padding-left: 75px;
}
.search{
   position: relative;
}
.search i{
   position: absolute;
   top: 50%;
   left: 8.5%;
   transform: translate(-50%, -50%);
}
::placeholder{
   color: #a0a7aa;
}
.box-user-chat{
   width: 100%;
   height: calc(100vh - 246px);
   background-color: #ffffff;
   border-right: 1px solid #d6d6d6;
   overflow-y: scroll;
   overflow-x: hidden;
}
.user-chat{
   padding: 10px;
   border-top: 1px solid rgb(245, 243, 243);
   position: relative;
   min-height: 85px;
}
.user-chat:hover{
   background-color: rgb(250, 250, 250);
   cursor: pointer;
}
.user-chat.active{
   background-color: rgb(241, 238, 238);
}
.user-chat img{
   margin-left: 8px;
   margin-right: 15px;
   width: 65px;
   border-radius: 50%;
   float: left;
}
.text-user-chat{
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: nowrap;
   align-items: start;
   margin: 0;
}
.text-user-chat p{
   margin: 0;
}
.text-user-chat p:first-child{
   padding-bottom: 5px;
   padding-top: 2px;
   font-weight: 600;
   font-size: 15px;
}
.text-user-chat p:nth-child(2){
   color: #a0a7aa;
   font-size: 10px;
}


/* MAIN RIGHT */
.main-right{
   float: left;
   width: 70%;
   height: 100%;
   position: relative;
}
/*** Schermata iniziale ****/
.schermata-inizio{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: #f8f9fa;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.schermata-inizio.hide{
   display: none;
}
.schermata-inizio img{
   width: 100%;
}
.main-r-center{
   height: calc(100vh - 200px);
   background-image: url(../img/mine.jpg);
   overflow-y: scroll;
   overflow-x: hidden;
   padding: 50px 80px;
}
/*** Messaggi da ciclare ****/
.message{
   width: 40%;
   font-size: 12px;
   font-weight: 600;
   padding: 14px 8px 5px 16px;
   border-radius: 10px;
   margin: 5px 0;
}
.message.received{
   background-color: white;
   float: left;
   clear: both;
}
.message.sent{
   background-color: #d5f9ba;
   float: right;
   clear: both;
}
.message p{
   margin: 0;
   padding-bottom: 5px;
}
.message span{
   float: right;
   color: #a0a7aa;
   font-size: 9px;
   font-weight: normal;
}
.main-r-bottom{
   padding: 15px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: 
   #f3eeea;
   height: 80px;
}
.main-r-bottom input{
   width: calc(100% - 16px);
   height: 50px;
   padding-left: 30px;
   margin: 8px;
   border-radius: 3px;
}
.main-r-bottom input:focus{
   padding-left: 30px;
}
.main-r-bottom i{
   font-size: 22px;
   margin: 0 20px;
   color: #6b7375;
}

